@import url(./setting.css);
@import url(./manu.css);

.header
{
    width: 100%;
    height: 195px;
    box-shadow: 2px 0px 1px black;
  
}

.header .hbanner
{
    width: inherit;
    height: 60px;
}

.header .hbanner a
{
    text-decoration: none;
}

.header .hbanner a:visited
{

}
.header .hbanner img
{
    width: 100%;
    height: 60px;
    object-fit: cover;
}

.header .middle 
{
    width: inherit;
    height: 90px;
  
    
    
    
}

.header .middle .main
{
    width: 1425px;
    height: inherit;
    margin: 0 auto;
   
    
}

.header .middle .sign
{
    width: 360px;
    height: inherit;
    display: inline-block;

    float: right
}
.header .middle .sign img
{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 45%;
    right: 5%;
}

.header .middle .search
{
    width: 710px;
    height: inherit;
    display: inline-block;
    
    float: right;
}
.header .middle .search img
{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 26%;
    top: 50%;
}

.header .middle .main .search .searchbar input[type=search]
{
    width: 710px;
    height: 50px;
    background-color: #f5f5f5    ;
    border-radius: 25px;
    margin-top: 30px ;
    border: unset;
    box-sizing: border-box;
    padding-right: 45px;
    outline: unset;
    display: inline-block;
    vertical-align: top;
}

.header .middle .main .search .searchbar  input[type=search]::placeholder
{
    font-family: persian;
}




.header .middle .sign .signin>a
{
    width: 140px;
    height: 44px;
    display: inline-block;
    background-color: var(--green);
    color: whitesmoke;
    font-family: persian;
    font-size: 16px;
    border-radius: 25px;
    text-align: center;
    line-height: 44px;
    margin-top: 30px;
    margin-right: 50px;
    box-sizing: border-box;
    outline: unset;
    border: none;
    text-decoration: none;
    vertical-align: top;
   
}

.header .middle .logo
{
    width: calc(1425 - 360 + 710);
    height: inherit;
    display: inline-block;
    float: left;
    
    box-sizing: border-box;
}

.header .middle .logo svg
{
    margin-top: 30px;
    margin-left: 50px;
    float: left;
}

/* .header .menue
{
    width: inherit;
    height: 44px;
    box-sizing: border-box;
    padding : 2px 42px;
    font-family: persian;
    font-size: 12px;

}

.header .menue  li
{
    width: auto;
    display: inline-block;

   
    box-sizing: border-box;
    padding: 8px 16px 0px 16px;

}

.header .menue .A .underline
{
    background-color: var(--green);
    width: inherit;
    height: 4px;
    transform: scale(0,0);
    transition: 300ms;
}

.header .menue .A:hover .underline
{
    transform: scale(1,1);
}



.border span
{
 border-right: 2px solid lightgray;
 padding: 5px;   
}

     */